body {
  text-align: center;
  max-width: 1800px;
  margin: auto;
  background-color: #fffede;
}

.top-div {
  margin: 32px;
}

h1 {
  font-size: 42px;
  color: #02bdb3;
  text-shadow: 2px 2px 3px #7d7d7d;
}

h3 {
  font-size: 26px;
  color: #5c5c5c;
  text-shadow: 2px 2px 3px #7d7d7d;
}

button {
  background-color: #9e0000;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 12px;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 1px 1px 4px #7d7d7d;
}

button:hover {
  background-color: #8c0000;
}

button:active {
  box-shadow: none;
}

#game div {
  border: 1px solid black;
  width: 15%;
  height: 330px;
  margin: 1%;
  display: inline-block;
  border-radius: 12px;
  box-shadow: 2px 2px 12px #7a796a;
}


.card-back {
  background-image: linear-gradient(to bottom right, #edb2e2, #d46ade);
}
